/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Definition of the basic elements*/
*{
    position: relative;
    box-sizing: border-box;
}
body {
    line-height: 1;
    margin: 0 auto ;
    font-family: 'Open Sans', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1 {
    padding-top: 20px;
    font-size: 75px;
    line-height: 1.5;
    font-weight: 700;
    margin: 25px 0 25px 10px;
}
h2 {
    font-size: 60px;
    margin: 40px 0 15px 10px;
    font-weight: 700;
}
h3 {
    font-size: 35px;
    margin: 25px 0 25px 10px;
    font-weight: 700;
}
p {
    font-size: 16px;
    margin-left: 25px 0 0 10px;
    padding: 10px;
}
.btn .box3-btn .box4-btn {
    font-size: 22px;
}
.btn {
    color: black;
    background-color: #c78c06;
    padding: 25px;
    margin: 10px;
    border: none;
    display: inline-block;
    text-decoration: none;
}
.box3-btn {
    color: white;
    background-color: #222;
    padding: 30px;
    margin: 10px;
    border: none;
    display: inline-block;
    text-decoration: none;
}
/* Navigation bar*/ 
.logo {
    height: 100px;
    background: #c78c06;
}
nav {
    padding: 10px;
    background-color: #222;
}
nav li a{
    display: block;
    background-color: #222;
    color: #c78c06;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    list-style: none;
}
#home {
    background-color: #c78c06;
    color: #222;
}
.search {
    background-color: #222;
    display: flex;
}
/* Welcome banner */
.banner {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    margin: 3em;
}
/* About Us*/
.about-box2 {
    background-color: #ffe6ac;
    padding: 10px;
}
.about-box2 article {
    margin-left: 0px;
}
.about-box2 img {
    width: 100%;
}
/* grid 
.container {
    width: 1200px
    margin: 0 auto;
    padding: 0 24px;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
u-cf:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#home {
    background-color: #c78c06;
    color: #222
}
nav li a {
    color: #c78c06;
    display: block;
    text-decoration: none;
    padding: 10px;
}

.navbar {
    background-color: #222;
    display: grid;  
}
.navbar .logo{
    float: left;
    height: 20px;
    padding: 0;
    margin: 0;
}
.navbar-box {
    width: 500px
    margin: 200px;
    padding: 0 24px;
}
.manu >li {
    float: left;
}
.manu >li >a {
    display: block;
    line-height: 24px;
    padding: 28px 16px;
}*/

/* .banner {
    background-size: cover;
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
} */
/*.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}*/